body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
header {
  background-color: #dd271d;
}
footer {
  background-color: #0045ad;
}
#show-menu {
  background: #0045ad;
  border-radius: 10px 10px 0px 0px;
  color: #fff;
  display: block;
  font-weight: 700;
  line-height: 2;
  margin-top: 1em;
  padding-left: 1em;
  text-transform: uppercase;
  cursor: pointer;
}
.be-blue {
  background-color: #0045ad;
}
.be-white {
  background-color: #fff;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.large-padding {
  padding: 15px 0;
}
.color-white {
  color: #fff;
}
.be-roboto {
  font-family: 'Roboto', sans-serif;
}
.text-left {
  text-align: left;
}
.padding {
  padding: 1em;
}
.block-title {
  border-bottom: 2px solid #e8eaee;
  color: #666;
  font-size: 1.3em;
}
.banner {
  margin: auto;
}
.group {
  margin: 0 1em;
}
.group__title {
  color: #666;
}
.group__content p {
  margin: 0;
  text-align: justify;
}
.header__logo {
  text-transform: uppercase;
}
.header__logo--mark {
  color: #f8c206;
}
.header__slogan {
  display: block;
  font-weight: 300;
}
.menu {
  background: #ffed00;
  border-radius: 0px 0px 10px 10px;
  display: none;
}
.menu__item {
  display: block;
  line-height: 1.5;
  margin-right: 10px;
  text-align: left;
  text-transform: uppercase;
}
.menu__item--link {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  text-decoration: none;
}
.menu__item--link:hover {
  text-decoration: underline;
}
.more-buttom {
  color: #666;
  font-weight: 700;
  text-decoration: none;
}
.welcome__message {
  text-align: justify;
}
.development__image {
  display: inline-block;
  height: 20px;
  width: 57px;
}
.link {
  color: #f8c206;
}
.videowrapper {
  clear: both;
  float: none;
  height: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  position: relative;
  width: 100%;
}
.videowrapper iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
@media (min-width: 62em) {
  #show-menu {
    display: none;
  }
  .menu {
    display: block;
    background-color: #dd271d;
    border-radius: 0px;
  }
  .menu__item {
    display: inline-block;
  }
  .menu__item--link {
    font-size: 1em;
    color: #fff;
  }
}
@font-face {
  font-family: 'colegio';
  src: url("../fonts/colegio.eot?fwxy6v");
  src: url("../fonts/colegio.eot?#iefixfwxy6v") format('embedded-opentype'), url("../fonts/colegio.woff?fwxy6v") format('woff'), url("../fonts/colegio.ttf?fwxy6v") format('truetype'), url("../fonts/colegio.svg?fwxy6v#colegio") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'colegio';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-menu:before {
  content: "\e9bd";
}
